<div class="container" fxFlexFill>
  <div class="flex-container" fxFlexOffset="20px" fxLayoutGap="5px" fxLayoutAlign="space-evently start"
    fxLayout="column" fxLayout.xs="column" fxFlex="90%">
    <mat-card class="child-1" fxFlex="flex: 1 0 auto">1. One</mat-card>
    <mat-card class="child-2">2. Two</mat-card>
    <mat-card class="child-3">3. Three</mat-card>








    
    <div class="items-controls-container" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="space-around">

      <h3 fxFlex="1 1 100%">ITEMS</h3>
      <div fxFlex="1 1 100%">
        <div class="items-number-control" fxFlex="1 1 100px" fxLayout="row wrap" fxLayoutAlign="space-around">
          <h4>NUMBER</h4>
          <div class="items-number" fxFlex="1 1 100%" fxLayout="row" fxLayoutAlign="center">
            <h1>{{items}}</h1>
          </div>

          <button mat-mini-fab fxFlex="0 0 auto" (click)="add('items');" color="accent">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-mini-fab fxFlex="0 0 auto" (click)="remove('items');" color="accent">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>