<div class="container" >
  <div class="flex-container" fxLayoutAlign="start stretch" fxFlexOffset="20px" fxLayoutGap="5px" fxLayout="column" fxLayout.xs="column"
    fxFlex="100%">
    <mat-card>
      <mat-card-title>
        Cart
      </mat-card-title>
    </mat-card>
    <mat-card class="detail-card-inner">
      <mat-card-header class="detail-header">
          <mat-card-subtitle>
              Your Cart Items
            </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      
      <mat-card-content class="item" *ngFor="let selectedBook of (cartBooks$  | async)">
        <div ></div>
        <div class="item item-image">
          <img mat-card-image src="{{selectedBook.volumeInfo.imageLinks?.smallThumbnail}}"
            class="detail-book-thumbnail">
        </div>
        <div class="content">
          <div>
            <h2 class="md-display-1">{{selectedBook.volumeInfo.title}} </h2>
            <h3 >ww{{selectedBook.volumeInfo.subtitle}} </h3>
            <body-1>ww{{selectedBook.volumeInfo.authors}}</p>
            <p>{{selectedBook.volumeInfo.publisher}}</p>
            <p>{{selectedBook.volumeInfo.pageCount}}</p>
            <p>{{selectedBook.volumeInfo.averageRating}}</p>
            <p>{{selectedBook.volumeInfo.ratingsCount}}</p>
          </div>

        </div>
        <mat-card-actions class="item">
          <button mat-mini-fab fxFlex="0 0 auto" (click)="add('items');" color="accent">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-mini-fab fxFlex="0 0 auto" (click)="remove('items');" color="accent">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-card-actions>
        <mat-divider></mat-divider>

      </mat-card-content>

    </mat-card>
    <mat-card></mat-card>
  </div>
</div>