<mat-grid-list cols="4" rowHeight="3:1">
  <mat-grid-tile colspan="3" rowspan="6">
    <mat-card class="detail-card-outer">
      <div class="detail-info">

        <mat-card class="detail-card-inner">
          <img mat-card-image src="{{selectedBook.volumeInfo.imageLinks?.smallThumbnail}}"
            class="detail-book-thumbnail">
        </mat-card>
        <mat-card-header class="detail-header">
          <mat-card-title>
            <h2 class="md-display-1">{{selectedBook.volumeInfo.title}} </h2>
          </mat-card-title>
          <mat-card-subtitle>
            <h3 class="md-body-2">ww{{selectedBook.volumeInfo.subtitle}} </h3>
            <p>ww{{selectedBook.volumeInfo.authors}}</p>
            <p>{{selectedBook.volumeInfo.publisher}}</p>
            <p>{{selectedBook.volumeInfo.pageCount}}</p>

            <p>{{selectedBook.volumeInfo.averageRating}}</p>

            <p>{{selectedBook.volumeInfo.ratingsCount}}</p>

            <p>{{selectedBook.volumeInfo.language}}</p>

            <p>ww{{selectedBook.volumeInfo.previewLink}}</p>


          </mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="detail-content">
        <p>ee{{selectedBook.volumeInfo.description}}</p>

      </div>


      <button mat-raised-button color="primary" (click)= onAddCart()>
        <mat-icon>shopping_cart</mat-icon>
        Add to Cart
      </button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>