// .detail-card-outer {
//   box-shadow: 3px 4px 12px 0px #888888;
//   width: 90%;
//   height: 80%;

//   display: inline-flex;
// }
// .detail-card-inner {
//   width: 200px;
//   display: inline-block;
//   height: 250px;
// }
.detail-book-thumbnail {
  text-align: left;
  display: block;
  margin-left: 5px;
  margin-top: 5px;
  max-width: 200px;
  max-height: 250px;
  max-block-size: 250px;
}
// .detail-wrapper {
//   margin-left: 40px;
// }
// .detail-content {
//   min-height: 275px;
//   max-height: 600px;
//   max-width: 800px;
//   position: relative;
//   margin-left:auto;
//   margin-right:auto;}
// .detail-header {
//   color: #212121;
//   font-size: 30px;
//   font-weight: 1000;
//   line-height: 35px;
//   margin: 25px 0 10px 0;
//   text-align: left;
//   display: inline;
// }
// .detail-info{
//     position: relative;
//     margin-left:auto;
//     margin-right:auto;
// }
 /* styles below*/
  
  /* book card styles */
  
  .book-detail-hldr{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
  }
  .card-hldr{
    flex: 1;
    background-color: #E0E0E0;
  }
  .book-info-hldr{
    flex: 1;
    padding: 50px 15px 15px 15px;
    background-color: #E0E0E0;
  }
  .description-hldr{
    display: flex;
    padding: 10px;
  }
  .description-title{
    flex: 1;
    font-weight: bold;
  }
  .description-detail{
    flex: 1;
  }
  .inner-card-hldr{
    padding: 15px;
  }
  .book-title{
    font-weight: bold;
  }
  .book-btn{
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
  }
  .addtocard-btn{
    margin-right: 20px;
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .book-detail-hldr{
    display: flex;
    flex-direction: column;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
